.header {
  display: flex;
  align-items: center;
  padding: 1rem;
  background-color: #f07e95;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
  height: 40px;
  width: auto;
  margin-right: 10px;
  border-radius: 8px;
  animation: jump 1s ease-in-out infinite;
}

@keyframes jump {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-10px); }
  100% { transform: translateY(0); }
}
.header:hover {
  background-color: #f25c77;
  transition: background-color 0.3s ease-in-out;
}
h1 {
  font-size: 1.8rem;
  color: #fff;
  transition: text-shadow 0.3s ease-in-out;
}

h1:hover {
  text-shadow: 0 0 10px #fff, 0 0 20px #ff6b81, 0 0 30px #ff6b81;
}
